<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39173011454-jnh1lab0ci8sic15jep9643530cok7a5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39173011454-jnh1lab0ci8sic15jep9643530cok7a5</string>
	<key>API_KEY</key>
	<string>AIzaSyA2Esokc1TK1-D-XkCQtGmPyMyhGROvg_U</string>
	<key>GCM_SENDER_ID</key>
	<string>39173011454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slavefreetrade.libertaspeople</string>
	<key>PROJECT_ID</key>
	<string>libertaspeople-d7db6</string>
	<key>STORAGE_BUCKET</key>
	<string>libertaspeople-d7db6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39173011454:ios:366586a05937227f9172af</string>
	<key>DATABASE_URL</key>
	<string>https://libertaspeople-d7db6-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>